<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Search results</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= numResults %> search results for <%= query %></h1>

    <ul>
<% titles.forEach((title) => { %>
<li><%= title %></li>
<% }); %>
    </ul>
  </body>
</html>
